<div class="ui segment container">
  <h1 class="ui center aligned header"><%= @instance.name %></h1>

<h2>id: <%= @instance.instance_id %></h2>
<%= @server.state %>
<%= @instance.public_ip %>
<%= @instance.availability_zone %>
<%= @instance.flavor_id %>
<%= @instance.dns_name %>
<% if %w(running pending).include? @server.state  %>
<%= link_to "Stop instance", action_instance_path(@instance, instance_action: "stop"), method: :post %>
<% else %>
  <%= link_to "Start instance", action_instance_path(@instance, instance_action: "start"), method: :post %>
<% end %>


